{% if resume.work_experience_section %}
  <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
    <div class="work-experience-section">
      <h2 class="h2 fw-light mb-4">Work Experience</h2>
      <div class="timeline">
          {% for work in resume.work.all %}
            <div class="timeline-card timeline-card-info">
              <div class="timeline-head px-4 pt-3">
                <div class="h5">{{ work.job_title}} <span class="text-muted h6">at {{ work.employer}}</span></div>
              </div>
              <div class="timeline-body px-4 pb-4">
                <div class="text-muted text-small mb-3">{{ work.start_date }} -
                    {% if work.current %}
                        Present
                    {% else %}
                        {{ work.end_date }}
                    {% endif %}
                </div>
                <div>{{ work.description|default_if_none:""|safe }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}