<footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="my-3">
          <div class="h4">{{ resume.user.userprofile.name }}</div>
          <div class="footer-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                  {% if resume.user.userprofile.twitter %}
                <li class="nav-item"><a class="nav-link" href="{{ resume.user.userprofile.twitter }}" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                </li>
                  {% endif %}
                {% if resume.user.userprofile.linkedin %}
                <li class="nav-item"><a class="nav-link" href="{{ resume.user.userprofile.linkedin }}" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a>
                </li>
              {% endif %}
              {% if resume.user.userprofile.github %}
                <li class="nav-item"><a class="nav-link" href="{{ resume.user.userprofile.github }}" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              {% endif %}
              </ul>
            </nav>
          </div>
        </div>
        <div class="text-small">
          <div class="mb-1">&copy; Material Resume. All rights reserved.</div>
        </div>
      </div>
    </footer>