<header class="header">
  <div class="header-nav">

      <h1 class="header-nav__title">{{ resume.user.userprofile.name }}</h1>

        <nav role="navigation" class="header-nav__bar">
          <ul class="header-nav__list">
            <li class="header-nav__item"><a class="nav-link" href="#about" title="About"><span class="menu-title">About</span></a>
            </li>
          {% if resume.work_experience_section %}
            <li class="header-nav__item"><a class="nav-link" href="#experience" title="Experience"><span class="menu-title">Experience</span></a>
            </li>
          {% endif %}
              {% if resume.education_section %}
            <li class="header-nav__item"><a class="nav-link" href="#education" title="Education"><span class="menu-title">Education</span></a>
            </li>
              {% endif %}
              <li class="header-nav__item"><a class="nav-link" href="#skills" title="Skills"><span class="menu-title">Skills</span></a>
            </li>
            <li class="header-nav__item"><a class="nav-link" href="#portfolio" title="Portfolio"><span class="menu-title">Portfolio</span></a>
            </li>
            <li class="header-nav__item"><a class="nav-link" href="#contact" title="Contact"><span class="menu-title">Contact</span></a>
            </li>
          </ul>
        </nav>
  </div>
</header>