{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load page_tags %}


{% block content %}
<div class="page-content">
<div class="container">
<div class="resume-container">
  <div class="shadow-1-strong bg-white my-5" id="intro">
    <div class="bg-info text-white">
      <div class="cover bg-image"><img src="{% static 'images/slc_sunset.jpg' %}"/>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
          <div class="text-center p-5">
            <div class="avatar p-1 " data-aos="zoom-in" data-aos-delay="200">
                <img class="img-thumbnail shadow-2-strong" src="{{ profile.profile_pic.url }}" width="160" height="160"/>
            </div>
            <div class="header-bio mt-3">
              <div>
                <h2 class="h1">{{ profile.name }}</h2>
                <p>{{ resume.headline|safe }}</p>
              </div>
              <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                <nav role="navigation">
                  <ul class="nav justify-content-center">
                      {% if profile.twitter %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ profile.twitter }}" title="Twitter" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                    </li>
                      {% endif %}
                      {% if profile.linkedin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ profile.linkedin }}" title="LinkedIn" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a>
                    </li>
                      {% endif %}
                      {% if profile.github %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ profile.github }}" title="Github" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                    </li>
                      {% endif %}
                  </ul>
                </nav>
              </div>
              <div class="d-print-none">
                  {% if profile.resume %}
                    <a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" href="{{ profile.resume.url }}">Download Resume</a>
                  {% endif %}
                  <a class="btn btn-info btn-lg shadow-sm mt-1" href="#contact">Contact Me</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{#      About Me Section             #}
<div class="shadow-1-strong bg-white my-5 p-5" id="about">
    <div class="about-section">
      <div class="row">
        <div class="col-md-6">
          <h2 class="h2 fw-light mb-4">About Me</h2>
            <p>{{ resume.about|safe }}</p>
        </div>
{#      Bio info Section            #}
        <div class="col-md-5 offset-lg-1">
          <div class="row mt-2">
            <h2 class="h2 fw-light mb-4">Bio</h2>
              {% if profile.contact_email %}
                <div class="col-sm-5">
                  <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Email</div>
                </div>
                <div class="col-sm-7">
                  <div class="pb-2">{{ profile.contact_email }}</div>
                </div>
              {% endif %}
            {% if profile.phone %}
                <div class="col-sm-5">
                  <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Phone</div>
                </div>
                <div class="col-sm-7">
                  <div class="pb-2">{{ profile.phone }}</div>
                </div>
            {% endif %}
            {% if profile.city or profile.state %}
                <div class="col-sm-5">
                  <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Location</div>
                </div>
                <div class="col-sm-7">
                  <div class="pb-2">{{ profile.city }}, {{ profile.state }}</div>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{#      Work Experience Section     #}
{% if resume.work_experience_section %}
  <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
    <div class="work-experience-section">
      <h2 class="h2 fw-light mb-4">Work Experience</h2>
      <div class="timeline">
          {% for work in resume.work.all %}
            <div class="timeline-card timeline-card-info">
              <div class="timeline-head px-4 pt-3">
                <div class="h5">{{ work.job_title}} <span class="text-muted h6">at {{ work.employer}}</span></div>
              </div>
              <div class="timeline-body px-4 pb-4">
                <div class="text-muted text-small mb-3">{{ work.start_date }} -
                    {% if work.current %}
                        Present
                    {% else %}
                        {{ work.end_date }}
                    {% endif %}
                </div>
                <div>{{ work.description|default_if_none:""|safe }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}


{#      Skills section     #}
<div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="skills">
    <div class="skills-section">
      <h2 class="h2 fw-light mb-4">Skills</h2>
        <div class="row">
          <div class="col-md-3">
            <!-- Tabs nav -->
            <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tablist"
                 role="tablist" aria-orientation="vertical">
            {% for tag in skill_tags %}
              <button class="nav-link mb-3 p-3 shadow pills-tab{% if forloop.first %} active {% endif %}"
                      id="v-pills-tab-{{ tag.id }}" data-tab="{{ tag.id }}"  role="tab" aria-controls="v-pills-tab" >
                <i class="fa fa-user-circle-o mr-2"></i>
                <span class="font-weight-bold small text-uppercase">{{ tag.name }}</span></button>
            {% endfor %}
            </div>
          </div>
        <!-- Tabs content -->
          <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                {% for tag in skill_tags %}
                  <div class="tab-pane fade shadow rounded bg-white {% if forloop.first %} show active {% endif %} p-5"
                       id="v-pills-{{ tag.id }}" role="tabpanel" aria-labelledby="v-pills-tab">
                    <h4 class="font-italic mb-4">{{ tag.name }}</h4>
                    <div class="col-12">
                        {%  for chunk in tag.tags.all|as_chunks:3  %}
                            <div class="row justify-content-center">
                                {% for skill in chunk %}
                                    <div class="col-sm-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>
                                    {{ skill.name }}
                                    </div>
                                {% endfor %}
                            {% if forloop.last and not forloop.counter0|divisibleby:3 %}
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"></div>
                            {% endif %}
                            </div>
                      {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>
        <!-- // Tabs content -->
        </div>
    </div>
</div>

  {#    portfolio section    #}
{% if portfolios %}
  <div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">
    <div class="portfolio-section ">
      <h2 class="h2 fw-light mb-4">Portfolio</h2>
        {% for p in portfolios %}
            {% if forloop.counter == 1 or forloop.counter|divisibleby:3 %}
                {% if p.features.all %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Click for info">
                    <div class="row g-0 portfolio" id="portfolio-link" data-bs-toggle="modal"
                         data-bs-target="#portfolioModal-{{ p.id }}" style="cursor: pointer;" >
                {% else %}
                    <span>
                    <div class="row g-0" >
                {% endif %}
                <div class="col-md-6">
                    <img class="img-fluid mx-auto d-block" src="{{ p.portfolio_pic.url }}" />
                </div>
                <div class="col-md-6 d-flex align-items-center">
                  <div class="m-4 mt-md-2">
                    <p class="text-teal text-small">{{ p.get_topics }}</p>
                      <h3>{{ p.title }}</h3>
                    <p class="text-muted">{{ p.description|safe }}</p>
                      {% if p.repo_url %}
                          <a href={{ p.repo_url }} title="Github" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-github"></i>
                          GitHub Repository
                          </a>
                      {% endif %}
                  </div>
                </div>
              </div>
                </span>
                <hr class="mt-4 mb-3" />
            {% else %}
                {% if p.features.all %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Click for info">
                    <div class="row g-0 portfolio-reverse" id="portfolio-link"
                         data-bs-toggle="modal" data-bs-target="#portfolioModal-{{ p.id }}" style="cursor: pointer;">
                {% else %}
                    <span>
                    <div class="row g-0 portfolio-reverse portfolio-item">
                {% endif %}
                    <div class="col-md-6 d-flex align-items-center">
                      <div class="m-4 mt-md-2 text-end">
                        <p class="text-teal text-small">{{ p.get_topics }}</p>
                          <h3>{{ p.title }}</h3>
                        <p class="text-muted">{{ p.description|safe }}</p>
                        {% if p.repo_url %}
                          <a href={{ p.repo_url }} title="Github" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-github">{{ p.repo_url}}</i>
                          GitHub Repository
                          </a>
                      {% endif %}
                      </div>
                    </div>
                    <div class="col-md-6 ">
                        <img class="img-fluid mx-auto d-block" src="{{ p.portfolio_pic.url }}" />
                    </div>
                </div>
                </span>
                <hr class="mt-4 mb-3"/>
            {% endif %}
        {% endfor %}
    </div>
  </div>
{% endif %}


{#      Education Section      #}
{% if resume.education_section %}
  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Education</h2>
      <div class="timeline">
          {% for education in resume.education.all|dictsortreversed:"start_date" %}
            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
              <div class="timeline-head px-4 pt-3">
                <div class="h5">{{ education.course }} <span class="text-muted h6">from {{ education.institute }}</span></div>
              </div>
              <div class="timeline-body px-4 pb-4">
                <div class="text-muted text-small mb-3">{{ education.start_date|date:"Y" }} -
                    {% if education.current %}
                        Present
                    {% else %}
                        {{ education.end_date|date:"Y" }}
                    {% endif %}
                </div>
                <div>{{ education.description|default_if_none:""|safe }}</div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endif %}


{#      Contact Section     #}
  <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contact-section">
      <h2 class="h2 fw-light text mb-4">Contact</h2>
      <div class="row mb-4">
        <div class="col-md-5" >
          <div class="mt-1">
            <div class="h6"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> {{ profile.phone }}</div>
            <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i>
                {{ profile.contact_email }}
            </div>
          </div>
          <div class="mt-5 d-print-none">
              <div id="alert-box"></div>
              <form id="contact-form">
                  {% csrf_token %}
                  {{ form|crispy }}
              <button class="btn btn-info btn-block mb-4" type="submit">Send</button>
            </form>
          </div>
        </div>
        <div class="col-md-7 d-print-none">
            <iframe src="https://maps.google.com/maps?q=Salt%20Lake%20City%20&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    width="500" height="400" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</div></div>
</div>

<!-- Portfolio Modal -->
{% for p in portfolios %}
    <div class="modal fade" id="portfolioModal-{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ p.title }}"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>{{ p.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <!--Carousel Wrapper-->
                <div id="portfolioCarouselIndicators-{{ p.id }}" class="carousel carousel-dark slide" data-bs-ride="carousel">

                    <div class="carousel-inner" >
                    <!--Slides-->
                        {% for image in p.images.all %}
                          <div class="carousel-item {% if forloop.first %}active{% endif %}" >
                              <img src="{{ image.portfolio_image.url }}" class="d-block h-100" alt="{{ image.alt }}">
                            </div>
                        {% endfor %}
                    </div>
                  <!--/.Slides-->
                      <!--Controls-->
                      <button class="carousel-control-prev" type="button" data-bs-target="#portfolioCarouselIndicators-{{ p.id }}"
                              data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#portfolioCarouselIndicators-{{ p.id }}"
                               data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                      <!--/.Controls-->
                </div>
              <!--/.Carousel Wrapper-->
              </div>

                <div class="row">
                    <h4 class="text-left p-2 mt-2">Special Features</h4>
                </div>
                <!--Accordion wrapper-->
                <div class="accordion accordion-flush" id="accordionEx" aria-multiselectable="false">
                  <!-- Accordion card -->
                {% for f in p.features.all %}
                  <div class="accordion-item">
                    <!-- Card header -->
                    <div class="accordion-header" id="heading-{{ f.id }}">
                      <div class="accordion-button collapsed" type="button"
                           data-bs-toggle="collapse" data-bs-target="#collapse-{{ f.id }}" data-bs-parent="#accordionEx"
                           data-tab="{{ f.id }}" aria-expanded="true" aria-controls="collapseOne1">
                        <h6 class="mb-0">
                            {{ f.title }}
                        </h6>
                      </div>
                    </div>

                    <!-- Card body -->
                    <div id="collapse-{{ f.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne1"
                      data-bs-parent="#accordionEx">
                      <div class="accordion-body">
                          {{ f.description|safe }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
                <!-- Accordion wrapper -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal: modalQuickView -->
{#{% for p in resume.portfolio.all %}#}
{#<div class="modal fade" id="modalPortfolio-{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="PortfolioModal"#}
{#  aria-hidden="true">#}
{#  <div class="modal-dialog modal-lg" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-body">#}
{#        <div class="row">#}
{#          <div class="col-lg-5">#}
{#            <!--Carousel Wrapper-->#}
{#            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"#}
{#              data-ride="carousel">#}
{#              <!--Slides-->#}
{#              <div class="carousel-inner" role="listbox">#}
{#                <div class="carousel-item active">#}
{#                  <img class="d-block w-100"#}
{#                    src="{{ p.portfolio_pic.url }}"#}
{#                    alt="First slide">#}
{#                </div>#}
{##}
{#              </div>#}
{#              <!--/.Slides-->#}
{#              <!--Controls-->#}
{#              <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">#}
{#                <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                <span class="sr-only">Previous</span>#}
{#              </a>#}
{#              <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">#}
{#                <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                <span class="sr-only">Next</span>#}
{#              </a>#}
{#              <!--/.Controls-->#}
{#              <ol class="carousel-indicators">#}
{#                <li data-target="#carousel-thumb" data-slide-to="0" class="active">#}
{#                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg" width="60">#}
{#                </li>#}
{#                <li data-target="#carousel-thumb" data-slide-to="1">#}
{#                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg" width="60">#}
{#                </li>#}
{#                <li data-target="#carousel-thumb" data-slide-to="2">#}
{#                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg" width="60">#}
{#                </li>#}
{#              </ol>#}
{#            </div>#}
{#            <!--/.Carousel Wrapper-->#}
{#          </div>#}
{#          <div class="col-lg-7">#}
{#            <h2 class="h2-responsive product-name">#}
{#              <strong>{{ p.title }}</strong>#}
{#            </h2>#}
{##}
{#            <!--Accordion wrapper-->#}
{#            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">#}
{#              <!-- Accordion card -->#}
{#              <div class="card">#}
{#                <!-- Card header -->#}
{#                <div class="card-header" role="tab" id="headingOne1">#}
{#                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"#}
{#                    aria-controls="collapseOne1">#}
{#                    <h5 class="mb-0">#}
{#                      Collapsible Group Item #1 <i class="fas fa-angle-down rotate-icon"></i>#}
{#                    </h5>#}
{#                  </a>#}
{#                </div>#}
{##}
{#                <!-- Card body -->#}
{#                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"#}
{#                  data-parent="#accordionEx">#}
{#                  <div class="card-body">#}
{#                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad#}
{#                    squid. 3#}
{#                    wolf moon officia aute,#}
{#                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.#}
{#                  </div>#}
{#                </div>#}
{##}
{#              </div>#}
{#              <!-- Accordion card -->#}
{#            </div>#}
{#            <!-- Accordion wrapper -->#}
{#            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{% endfor %}

{% endblock content %}
