{% if portfolios %}
  <div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">
    <div class="portfolio-section ">
      <h2 class="h2 fw-light mb-4">Portfolio</h2>
        {% for p in portfolios %}
            {% if forloop.counter == 1 or forloop.counter|divisibleby:3 %}
                {% if p.features.all %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Click for info">
                    <div class="row g-0 portfolio" id="portfolio-link" data-bs-toggle="modal"
                         data-bs-target="#portfolioModal-{{ p.id }}" style="cursor: pointer;" >
                {% else %}
                    <span>
                    <div class="row g-0" >
                {% endif %}
                <div class="col-md-6">
                    <img class="img-fluid mx-auto d-block" src="{{ p.portfolio_pic.url }}" />
                </div>
                <div class="col-md-6 d-flex align-items-center">
                  <div class="m-4 mt-md-2">
                    <p class="text-teal text-small">{{ p.get_topics }}</p>
                      <h3>{{ p.title }}</h3>
                    <p class="text-muted">{{ p.description|safe }}</p>
                      {% if p.repo_url %}
                          <a href={{ p.repo_url }} title="Github" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-github"></i>
                          GitHub Repository
                          </a>
                      {% endif %}
                  </div>
                </div>
              </div>
                </span>
                <hr class="mt-4 mb-3" />
            {% else %}
                {% if p.features.all %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Click for info">
                    <div class="row g-0 portfolio-reverse" id="portfolio-link"
                         data-bs-toggle="modal" data-bs-target="#portfolioModal-{{ p.id }}" style="cursor: pointer;">
                {% else %}
                    <span>
                    <div class="row g-0 portfolio-reverse portfolio-item">
                {% endif %}
                    <div class="col-md-6 d-flex align-items-center">
                      <div class="m-4 mt-md-2 text-end">
                        <p class="text-teal text-small">{{ p.get_topics }}</p>
                          <h3>{{ p.title }}</h3>
                        <p class="text-muted">{{ p.description|safe }}</p>
                        {% if p.repo_url %}
                          <a href={{ p.repo_url }} title="Github" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-github"></i>
                          GitHub Repository
                          </a>
                      {% endif %}
                      </div>
                    </div>
                    <div class="col-md-6 ">
                        <img class="img-fluid mx-auto d-block" src="{{ p.portfolio_pic.url }}" />
                    </div>
                </div>
                </span>
                <hr class="mt-4 mb-3"/>
            {% endif %}
        {% endfor %}
    </div>
  </div>
{% endif %}