{% load page_tags %}
<div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="skills">
    <div class="skills-section">
      <h2 class="h2 fw-light mb-4">Skills</h2>
        <div class="row">
          <div class="col-md-3">
            <!-- Tabs nav -->
            <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tablist"
                 role="tablist" aria-orientation="vertical">
            {% for tag in skill_tags %}
              <button class="nav-link mb-3 p-3 shadow pills-tab{% if forloop.first %} active {% endif %}"
                      id="v-pills-tab-{{ tag.id }}" data-tab="{{ tag.id }}"  role="tab" aria-controls="v-pills-tab" >
                <!-- <i class="fa fa-user-circle-o mr-2"></i> -->
                <span class="font-weight-bold small text-uppercase">{{ tag.name }}</span></button>
            {% endfor %}
            </div>
          </div>
        <!-- Tabs content -->
          <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                {% for tag in skill_tags %}
                  <div class="tab-pane fade shadow rounded bg-white {% if forloop.first %} show active {% endif %} p-5"
                       id="v-pills-{{ tag.id }}" role="tabpanel" aria-labelledby="v-pills-tab">
                    <h4 class="font-italic mb-4">{{ tag.name }}</h4>
                    <div class="col-12">
                        {%  for chunk in tag.tags.all|as_chunks:3  %}
                            <div class="row justify-content-center">
                                {% for skill in chunk %}
                                    <div class="col-sm-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    {{ skill.name }}
                                    </div>
                                {% endfor %}
                            {% if forloop.last and not forloop.counter0|divisibleby:3 %}
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"></div>
                            {% endif %}
                            </div>
                      {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>
        <!-- // Tabs content -->
        </div>
    </div>
</div>